@model connectify.Models.Post

@{
    ViewBag.Title = "Index";
}

<h2>Posts on Connectify</h2>
<br />

<a href="/Posts/New" class="btn btn-success">Create new post</a>

@foreach (connectify.Models.Post post in ViewBag.Posts) {
    <div class="card">
        @Html.Partial("PostInfo", post)
        <div class="d-flex flex-row justify-content-between p-3 border-1 border-top">
            <a href="/Posts/Show/@post.Id" class="btn btn-primary">Read more</a>
        </div>
    </div>
}