@model connectify.Models.Post

@{
    ViewBag.Title = "Index";
}

<h2>Posts on Connectify</h2>
<br />

<a href="/Posts/New" class="btn btn-success">Create new post</a>

@foreach (connectify.Models.Post post in ViewBag.Posts) {
    <div class="card">
        @Html.Partial("PostInfo", post)
        <div class="d-flex flex-row justify-content-between p-3 border-1 border-top">
            <a href="/Posts/Show/@post.Id" class="btn btn-primary">Read more</a>
        </div>
    </div>
}

<div>
    <nav aria-label="Page navigation example">
        <ul class="pagination">
            <li class="page-item">
                <a class="page-link" href="/Posts/Index?page=1" aria-label="Previous">
                    <span aria-hidden="true">&laquo;</span>
                </a>
            </li>
            @for (int i = 1; i <= ViewBag.lastPage; i++)
            {
                <li class="page-item"> <a class="page-link" href="/Posts/Index?page=@i">@(i)</a> </li>
            }
            <li class="page-item">
                <a class="page-link" href="/Posts/Index?page=@(ViewBag.lastPage)" aria-label="Next">
                    <span aria-hidden="true">&raquo;</span>
                </a>
            </li>
        </ul>
    </nav>
</div>