@model connectify.Models.Post

@{
    ViewBag.Title = "Show";
}

<div class="card">
    <a href="/Posts/Index" class="btn btn-secondary">Return to all posts</a>
    
    @Html.Partial("PostInfo", Model)

    <a href="/Posts/Edit/@Model.Id" class="btn btn-primary">Edit</a>
    <form method="post" action="/Posts/Delete/@Model.Id">

        <button class="btn btn-danger" type="submit">Delete post</button>
        
    </form>
    
    
</div>
