html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

.navbar {
    background-color: #dfe6e9 !important;
    border: none !important;
    box-shadow: 0 3px 12px #636e72 !important;
}

a.nav-link {
    color: #2c2c2c !important;
}

a.nav-link:hover {
    color: #00b894 !important;
}

.logoutbtn {
    color: #2c2c2c !important;
}

.logoutbtn:hover {
    color: #00b894 !important;
}

.note-editor .dropdown-toggle::after {
    display: none;
}

.container .msg-container {
    display: flex;
    align-items: center;
    margin: 10px 0;
    /*width: 80%;*/
}

.left .msg-container{
    justify-content: flex-start;
}

.right {
    justify-content: flex-end;
}

.message {
    display: flex;
    align-items: center;
    border-radius: 20px;
    padding: 10px;
    /*max-width: 80%;*/
    word-wrap: break-word;
}

.right .message {
    background-color: #16a085;
    color: white;
}

    .right .message:before {
        content: "";
        position: absolute;
        top: 9px;
        right: 100%;
        border: 9px solid transparent;
        border-left-color: #dcf8c6;
    }

    .right .message:after {
        content: "";
        position: absolute;
        top: 9px;
        right: 100%;
        border: 8px solid transparent;
        border-left-color: #fff;
    }

.left .message {
    background-color: #1676A0;
    color: white;
}

    .left .message:before {
        content: "";
        position: absolute;
        top: 9px;
        left: 100%;
        border: 9px solid transparent;
        border-right-color: #fff;
    }

    .left .message:after {
        content: "";
        position: absolute;
        top: 9px;
        left: 100%;
        border: 8px solid transparent;
        border-right-color: #e5e5e5;
    }

.buttons-container {
    margin-right: 10px;
}

.message-text {
    flex: 1;
}


.btn-primary, .btn-primary:hover, .btn-primary:active, .btn-primary:visited {
    background-color: #16a085 !important;
    border-color: #16a085 !important;
}

.btn-outline-primary, .btn-outline-primary:hover, .btn-outline-primary:active, .btn-outline-primary:visited {
    border-color: #16a085 !important;
    color: #16a085 !important;
}

    .btn-outline-primary:hover {
        color: white !important;
        background-color: #16a085 !important;
        border-color: #16a085 !important;
    }

.page-link {
    color: white !important;
    background-color: #16a085 !important;
    border-color: white !important;
}

    .page-link:hover {
        background-color: #0e6b58 !important;
        border-color: #0e6b58 !important;
    }

.navbar {
    color: white !important;
    background-color: #16a085 !important;
    border-color: white !important;
}

.navbar-brand {
    color: white !important;
}

a.nav-link {
    color: red;
}

.alert-primary {
    background-color: rgba(22, 160, 133, .6) !important;
    border-color: #16a085 !important;
    color: black !important;
}

.btn-danger, .btn-danger:hover, .btn-danger:active, .btn-danger:visited {
    background-color: #A01631 !important;
    border-color: #A01631 !important;
}

.btn-outline-danger, .btn-outline-danger:hover, .btn-outline-danger:active, .btn-outline-danger:visited {
    border-color: #A01631 !important;
    color: #A01631 !important;
}

    .btn-outline-danger:hover {
        color: white !important;
        background-color: #A01631 !important;
        border-color: #A01631 !important;
    }

.comm {
    border: 2px solid #16a085;
    border-radius: 10px;
    padding: 5px;
}