@model connectify.Models.Group

<div class="card-body">
    @if (Model != null)
    {
        <h3 class="card-title alert-primary py-3 px-3 rounded-2 display-4">@Model.Name</h3>

        <div class="card-text">@Html.Raw(Model.Description)</div>
        
    }

</div>